.busname {
    color:midnightblue;
    text-align:center;
}

.busadd {
    color:navy;
    text-align:center; 
    font-size: 13px;
}

.homepage {
    color: navy;
    text-align:center; 
    font-size: 16px;
}

#maintable {
   margin-top: 100px;
   width:90;
   cellspacing:0;
}


tr {
    height: 45;
    valign: top;
    width: 50;
}

/* body {
    color:navy;
    font-size: 10px;
} */
a {
    color:#800080;
    font-size: 16;
}