.busname {
    color:midnightblue;
    text-align:center;
}

.busadd {
    color:navy;
    text-align:center; 
    font-size: 13px;
}

.homepage {
    color: navy;
    text-align:center; 
    font-size: 16px;
}

#maintable {
   margin-top: 100;
   border-top-style: solid;
   border-bottom-style:solid;
   width:90;
   cellspacing:0;
   border-color: gray;
   border-width: 2px;
}


tr {
    height: 45;
    valign: top;
    width: 50;
}
a {
    color:#800080;
    font-size: 16;
}

body{
    color:navy;
    font-size: 14px;
}
